p.sissejuh {
    font-size: 130%;
    color: white;
    font-family: arial;
    margin: 0 30px
}


body {
    margin: 0;
    padding: 0;
  background-color: #343e4f;
}



h1 {
    color: white;
    text-align: center;
    font-size: 300%
}


/* navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #342437;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #115d41;
}

a {
    font-family: arial
}

/* navbar lõpeb */


/* Siit algab kastide disain */

div.S {
    background-color: rgba(204, 102, 102, 0.958);
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.A {
    background-color: rgba(255, 191, 127, 0.884);
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.B {
    background-color: rgba(255, 223, 127, 0.96);
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.C {
    background-color: rgb(255, 255, 127, 0.9);
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.D {
    background-color: rgba(180, 220, 130, 0.7);
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Määran kastis oleva suure tähe stiili */

.suurtaht {
    
    color: rgba(255, 255, 255, 0.8);
    font-family: arial;
    font-size: 1200%

}


/* Panen paika positsioonid kus distrode nimed võiksid kastis paikneda */

.pos1 {
    
    top: 10%; left: 12%
}

.pos2 {
    
    top: 15%; right: 23%;
   
}

.pos3 {
    
    bottom: 12%; left: 15%
}

.pos4 {
    
    bottom: 10%; right: 20%
}

.pos5 {
    
    top: 65%; left: 3%
}

.pos6 {
    
    top: 8%; left: 43%
}

.pos7 {
    
    bottom: 8%; left: 47%
}

.pos8 {
    
    top: 45%; right: 10%
}

.pos9 {
    
    top: 50%; left: 30%
}

.pos10 {
    top: 62%; right: 35%
}

.pos11 {
    top: 40%; left: 9%
}

.pos12 {
    top: 24%; left: 22%
}

.pos13 {
    top: 3%; right: 3%
}

.pos14 {
    top: 32%; right: 30%
}



/* Määran distro linkide stiili */

.lingistiil {
    font-size: 160%;
    color: black;
    font-family: arial;
    position: absolute;
    text-decoration: none;
}

.lingistiil:hover {
    color: rgb(122, 24, 68);
    text-shadow: 1px 1px 2px white;
}
