h1 {
	color: red;
	height: 10%;
}

html {
  background-color: #343e4f;
  font-family: arial
}

/* navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #342437;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #115d41;
}

/* navbar lõpeb */