/* styles.css */
.margin {
	margin: 1%;
}

.tier {
	margin-top: 20px;
}

.tier h2 {
	position: absolute;
	inset: 0px;
	margin: 0;
	/* Kuvamisomadus määrab elemendi kuvamisviisi (renderdamiskasti tüübi). */
	z-index: 1;
	display: flex;
	align-items: center;
	/* justify-content-omadus joondab paindliku konteineri elemendid juhul, kui elemendid ei kasuta kogu põhitelje (horisontaalse) olemasolevat ruumi. */
	justify-content: center;
	color: white;
	padding: 0 20px;
	border-radius: 0;
	font-size: 900%;
	opacity: 0.175;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
	text-transform: uppercase;
}



.tier-list {
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
	z-index: 2;
}

/* Siit algab kastide disain */

.tier-S {
	background-color: rgba(204, 102, 102, 0.958);
	width: 100%;
	padding: 70px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.tier-A {
	background-color: rgba(255, 191, 127, 0.884);
	width: 100%;
	padding: 70px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.tier-B {
	background-color: rgba(255, 223, 127, 0.96);
	width: 100%;
	padding: 70px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tier-C {
	background-color: rgb(255, 255, 127, 0.9);
	width: 100%;
	padding: 70px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tier-D {
	background-color: rgba(180, 220, 130, 0.7);
	width: 100%;
	padding: 70px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Määran distro linkide stiili */

.lingistiil {
	font-size: 200%;
	color: black;
	font-family: arial;
	position: relative;
	text-decoration: none;
}

.lingistiil:hover {
	color: rgb(122, 24, 68);
	text-shadow: 1px 1px 2px white;
}



.container {
	max-width: 1000px;
	margin: 20px auto;
	padding: 0 20px;
}

/* Tier kastide ülddisain */
.tier {
	width: 100%;
	height: 250px;
	margin-bottom: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 5% 0px 0px 0px;
	border-radius: 0;
	box-shadow: none;
	position: relative;
}
